<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.easyui.mapper.ImageMapper">
  <resultMap id="BaseResultMap" type="com.easyui.pojo.Image">
    <id column="EI_PID" jdbcType="INTEGER" property="eiPid" />
    <result column="EI_PICTURE" jdbcType="VARCHAR" property="eiPicture" />
    <result column="EI_USERID" jdbcType="VARCHAR" property="eiUserid" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    EI_PID, EI_PICTURE, EI_USERID
  </sql>
  <select id="selectByExample" parameterType="com.easyui.pojo.ImageExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from easybuy_image
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from easybuy_image
    where EI_PID = #{eiPid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from easybuy_image
    where EI_PID = #{eiPid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.easyui.pojo.ImageExample">
    delete from easybuy_image
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.easyui.pojo.Image">
    insert into easybuy_image (EI_PID, EI_PICTURE, EI_USERID
      )
    values (#{eiPid,jdbcType=INTEGER}, #{eiPicture,jdbcType=VARCHAR}, #{eiUserid,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.easyui.pojo.Image">
    insert into easybuy_image
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="eiPid != null">
        EI_PID,
      </if>
      <if test="eiPicture != null">
        EI_PICTURE,
      </if>
      <if test="eiUserid != null">
        EI_USERID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="eiPid != null">
        #{eiPid,jdbcType=INTEGER},
      </if>
      <if test="eiPicture != null">
        #{eiPicture,jdbcType=VARCHAR},
      </if>
      <if test="eiUserid != null">
        #{eiUserid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.easyui.pojo.ImageExample" resultType="java.lang.Long">
    select count(*) from easybuy_image
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update easybuy_image
    <set>
      <if test="record.eiPid != null">
        EI_PID = #{record.eiPid,jdbcType=INTEGER},
      </if>
      <if test="record.eiPicture != null">
        EI_PICTURE = #{record.eiPicture,jdbcType=VARCHAR},
      </if>
      <if test="record.eiUserid != null">
        EI_USERID = #{record.eiUserid,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update easybuy_image
    set EI_PID = #{record.eiPid,jdbcType=INTEGER},
      EI_PICTURE = #{record.eiPicture,jdbcType=VARCHAR},
      EI_USERID = #{record.eiUserid,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.easyui.pojo.Image">
    update easybuy_image
    <set>
      <if test="eiPicture != null">
        EI_PICTURE = #{eiPicture,jdbcType=VARCHAR},
      </if>
      <if test="eiUserid != null">
        EI_USERID = #{eiUserid,jdbcType=VARCHAR},
      </if>
    </set>
    where EI_PID = #{eiPid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.easyui.pojo.Image">
    update easybuy_image
    set EI_PICTURE = #{eiPicture,jdbcType=VARCHAR},
      EI_USERID = #{eiUserid,jdbcType=VARCHAR}
    where EI_PID = #{eiPid,jdbcType=INTEGER}
  </update>
</mapper>