<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.easyui.mapper.NewsMapper">
  <resultMap id="BaseResultMap" type="com.easyui.pojo.News">
    <id column="EN_ID" jdbcType="INTEGER" property="enId" />
    <result column="EN_TITLE" jdbcType="VARCHAR" property="enTitle" />
    <result column="EN_CONTENT" jdbcType="VARCHAR" property="enContent" />
    <result column="EN_CREATE_TIME" jdbcType="DATE" property="enCreateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    EN_ID, EN_TITLE, EN_CONTENT, EN_CREATE_TIME
  </sql>
  <select id="selectByExample" parameterType="com.easyui.pojo.NewsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from easybuy_news
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from easybuy_news
    where EN_ID = #{enId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from easybuy_news
    where EN_ID = #{enId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.easyui.pojo.NewsExample">
    delete from easybuy_news
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.easyui.pojo.News">
    insert into easybuy_news (EN_ID, EN_TITLE, EN_CONTENT, 
      EN_CREATE_TIME)
    values (#{enId,jdbcType=INTEGER}, #{enTitle,jdbcType=VARCHAR}, #{enContent,jdbcType=VARCHAR}, 
      #{enCreateTime,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.easyui.pojo.News">
    insert into easybuy_news
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="enId != null">
        EN_ID,
      </if>
      <if test="enTitle != null">
        EN_TITLE,
      </if>
      <if test="enContent != null">
        EN_CONTENT,
      </if>
      <if test="enCreateTime != null">
        EN_CREATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="enId != null">
        #{enId,jdbcType=INTEGER},
      </if>
      <if test="enTitle != null">
        #{enTitle,jdbcType=VARCHAR},
      </if>
      <if test="enContent != null">
        #{enContent,jdbcType=VARCHAR},
      </if>
      <if test="enCreateTime != null">
        #{enCreateTime,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.easyui.pojo.NewsExample" resultType="java.lang.Long">
    select count(*) from easybuy_news
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update easybuy_news
    <set>
      <if test="record.enId != null">
        EN_ID = #{record.enId,jdbcType=INTEGER},
      </if>
      <if test="record.enTitle != null">
        EN_TITLE = #{record.enTitle,jdbcType=VARCHAR},
      </if>
      <if test="record.enContent != null">
        EN_CONTENT = #{record.enContent,jdbcType=VARCHAR},
      </if>
      <if test="record.enCreateTime != null">
        EN_CREATE_TIME = #{record.enCreateTime,jdbcType=DATE},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update easybuy_news
    set EN_ID = #{record.enId,jdbcType=INTEGER},
      EN_TITLE = #{record.enTitle,jdbcType=VARCHAR},
      EN_CONTENT = #{record.enContent,jdbcType=VARCHAR},
      EN_CREATE_TIME = #{record.enCreateTime,jdbcType=DATE}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.easyui.pojo.News">
    update easybuy_news
    <set>
      <if test="enTitle != null">
        EN_TITLE = #{enTitle,jdbcType=VARCHAR},
      </if>
      <if test="enContent != null">
        EN_CONTENT = #{enContent,jdbcType=VARCHAR},
      </if>
      <if test="enCreateTime != null">
        EN_CREATE_TIME = #{enCreateTime,jdbcType=DATE},
      </if>
    </set>
    where EN_ID = #{enId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.easyui.pojo.News">
    update easybuy_news
    set EN_TITLE = #{enTitle,jdbcType=VARCHAR},
      EN_CONTENT = #{enContent,jdbcType=VARCHAR},
      EN_CREATE_TIME = #{enCreateTime,jdbcType=DATE}
    where EN_ID = #{enId,jdbcType=INTEGER}
  </update>
</mapper>